@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --primary: #f4b73e;
    --dark: #000910e8;
}

  .row{
    width: 100%;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

body{
    margin: 0;
    padding: 0;
}

/*-------------------------Navbar----------------------------------*/
.logo{
    width: 95px;
    height: auto;
    position: absolute;
    left: 30px;
}
nav.navbar{
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 0;
    box-sizing: content-box;

}
nav.navbar .row{
    width: 100%;
   box-sizing: content-box;
}
.nav-items{
    width: calc(100% - 50px);
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    gap: 35px;
}
.nav-items a{
    font-family: 'Nunito' , sans-serif;
    font-size: 19px;
}
.nav-items a.text-white:hover{
    color: var(--primary) ;
}
.nav-items button.nav-btn a.text-white:hover{
    color: white !important;
}
.nav-btn{
    padding: 10px 20px;
    background-color: var(--primary);
    border: 1px solid var(--dark);
    border-radius: 3px;
    
}
.nav-icon{
    display: none;
   
  
}
* {
    box-sizing: border-box;
  }
/*-----------------------------------------------------------*/
  .hero{
    width: 100%;
    margin: 0;
    padding: 0;
   
  }
  .bg-dark {
    background-color: #0F172B !important;
}
.text-white{
    color: white ;
    font-family: 'Nunito' ,cursive;
    text-decoration: none;
   
}
.text-white h1{
    font-size: 3.5rem;
    margin-bottom: 0;
}
.btn{
    padding: 10px;
    background-color: #feaf39;
    border: 1px solid #feaf39;
    border-radius: 7px;
    width: max-content;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.hero{
    width: 100%;
    margin: 0;
    padding: 120px;
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(./img/bg-hero.jpg);
}
/*=============================service section==============================*/
.service-container .row{
    margin-top: 100px;
    
    display:flex;
    justify-content: space-evenly;
     gap: 15px;
    padding: 15px 0;
  
}
.col-4{
    width: 30%;
    height: max-content;
    border: 1px solid white ;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    background-color: white;
    font-family: monospace, sans-serif;
}

@property --angle{
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}
.box::after,
.box::before{
   content: '';
   background-color: red;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 100%;
   border-radius: 8px;
   --angle: 0deg;
   background-image: conic-gradient(
       from var(--angle) , var(--primary) , var(--primary) , var(--dark) 
   );
   animation: autoRotate 8s linear infinite;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   z-index: -1;
   padding: 5px;
}
.box::after{
   filter: blur(10px);
 
}




@keyframes autoRotate{
   to {
       --angle: 360deg; 
   }
}

/*==========*/


/*=========================about section========================*/
.about-container{
    width: 100%;
    height: 640px;
    display: flex;
    align-items: center;
}
.about-container .row{
    display: block;  
    width: 100%;
    height: 504px;
    position: relative;
}
/*-------------left-side-----------------*/
.left-side{
width: 50%;
height: 100%;
display: block;
position: absolute;
top: 0;
left: 0;
padding-left: 5%;
padding-right: 5%;
}

.left-side-interieur{
    width: 100%;
    height: 100%;
    position: relative;
}
.img-box{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.img-box img{
    border-radius: 5px;
}
.img-box-1{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 254px;
}
.img-box-2{
    width: 190px;
    height: 190px;
    position: absolute;
    top: 60px;
    right: 60px;
}
.img-box-3{
    width: 190px;
    height: 190px;
    position: absolute;
    top: 254px;
    right: 254px;
}
.img-box-4{
    width: 250px;
    height: 250px;
    position: absolute;
    right: 0px;
    top: 254px;
}
/*-------------left-side-end-----------------*/

/*---------------right-side---------------*/
.right-side{
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px 25px;
   
}
.about-title{
    color: #feaf39;
    font-family: 'Pacifico' , cursive;
    position: relative;
    font-size: 20px;
    width: max-content;
}

.about-title::after{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}
.sub-title{
    font-family: 'Nunito', cursive;
    font-weight: 900;
    font-size: 24px;
  
}
.sub-title h1{
    margin: 10px 0;
}
.about-paragraph{
    color: gray;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.4;
}
.year{
    display: flex;
    flex-direction: row;
    border-left: 5px solid #feaf39;
    padding: 0;
    margin: 15px 0;
}
.year h1 ,p {
    margin: 0;
}
h1.exp-years{
    color: #feaf39;
    font-family: sans-serif;
    font-size: 42px;
    padding:  6px 20px ;
}
.year p{
    padding-top: 6px;
    line-height: 1.2;
    color: gray;
    font-family: sans-serif;
}
.year p > b{
    color: black !important;
}
.read{
    margin: 20px 0;
}
.read .read-btn{
    padding: 12px 18px;
    background-color: #feaf39;
    border: 2px solid #feaf39;
    border-radius: 4px;
}
.read .read-btn a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}


/*--------------right-side-end---------------*/
/*--------------------------about-section-end---------------------------*/
/*---------------------------Menu---------------------------*/
.menu-container{
    width: 100%;
    height: 600px;
    margin: 0;
    
}
.menu-subcontainer{
    width: 80%;
    height: 100%;
    
    display: block;
    margin: 0 auto;
}
.title-container{
    text-align: center !important;
    width: 100%;
   
}
.title::before{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}
.title{
    font-family: 'Pacifico', cursive;
    color: var(--primary);
    width: max-content;
    margin: auto;
    position: relative;
      
}
.title::after{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}
.subtitle{
    font-family: 'Nunito',cursive;
    margin-top: 10px;
    font-weight: 800;
    font-size: 2.3rem;
}
/*----------------------menu - navbar----------------------*/
.menu-nav{
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 0;
    
}
.menu-nav-list{
    width: max-content;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: auto;
    justify-content: center;
    
    cursor: pointer;
}
.menu-nav-list > .nav-border{
    border-bottom: 2px solid var(--primary) !important;
}
.menu-nav-list .item{
    width: max-content;
    height: 100%;
    list-style: none;
    
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
} 
.fa-solid{
    width: 40%;
     display: block;
     color: #feaf39;
     margin: 10px;
     padding: 0;  
}
.fa-mug-saucer,.fa-utensils, .fa-burger{
    font-size: 2em;
}
.item p{
    width: 60%;
    display: block;
    font-family: sans-serif;
    color: gray;   
}
p> b{
    color: black;
}

/*----------------------menu - body --------------------------------*/
.menu-body{
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px;
}

.column-1 .row, .column-2 .row{
     width: 100%;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     height: 80px;
     position: relative;
     margin: 5px 0;
}
 .column-1 .row .img-box , .column-2 .row .img-box{
    width: 80px;
    height: auto;
    position: absolute;
    left: 0;
    
}
.row .text-row{
  width: calc(100% - 100px);
  height: 50%;
  position: absolute;
  left: 90px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.row-one{
    top: 0;
}
.row-tow{
    bottom: 0;
    border: none !important;
}
.row .text-row h2{
    display: inline;
    margin: 0;
    font-family: 'Nunito' , cursive;
}
h2.tow{
 color: var(--primary);
}
.text-row p {
    color: darkgray;
    font-family: 'Nunito', cursive ;
}
.menu-content .menu-1, .menu-content .menu-2, .menu-content .menu-3{
    display: none;
}
.menu-content > .active{
    display: block;
}


/*--------------------------Menu-section-end---------------------------*/
@media  (max-width:860px){

    /*------------------------Navbar-------------------------*/
     nav.navbar{
        display: block;
        width: 100%;
        background-color: var(--dark);
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
     }
     .nav-items{
        display: block;  
     }
     .logo{
        position: relative;
     }
    nav.navbar .nav-items a{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .nav-icon{
        display: block  !important;
        padding: auto;
        position: absolute;
        right: 0;
        top: -30px;
    }
    /*----------responsive----------------*/
      .nav-items.responsive{ 
       
        display: block;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
      }
      .nav-items.responsive a:not(:first-child){ 
           display: block !important;
           float: right;
           width: 100%;
           padding: 5px;
      }
      .nav-items.responsive a:hover{
        background: var(--dark);
      }
      

    /*------------------------------------------------------*/
      col-6-alt{
        width: 100%;
      }
      .row-center {
      display: flex;
      justify-content: center;
      }
      .text-white{
        text-align: center;
      }
      .text-white h1{
        font-size: 1.5rem;
        margin-bottom: 0;
     }
     .btn{
        width: max-content;
     }
     .hero{
     padding: 70px;
     }

   div.service-container div.row {
    display: block;
    width: 100%;
   }
   div.service-container div.row  .col-4{
    margin: 10px;
    width: calc(100% - 20px );
   }
    /**--------------------about--------------------------*/
   .about-container .row .left-side{
    width: 100%;
    position: relative;
   }
   .left-side-interieur{
    display: block;
    width: 75%;
    margin: 0 22.5%;
   }
   .img-box-1 ,.img-box-4{
    width: 220px;
    height: 220px;
   }
   
   .img-box-2 , .img-box-3{
    width: 160px;
    height: 160px;
   }
   .img-box-1 {
    top: 0;
    right: 224px;
   }
   .img-box-3{
    top: 224px;
    right: 224px;
   }
   .img-box-4 {
    top: 224px;
   }





   .about-container .row .right-side{
    width: 100%;
    position: relative;
   }





}